<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://nickolasvu.netlify.com">Nickolas</a>. A student web developer learning to coding and master the art.
  </p>
  <br />
  <p>
    He is trying to learn and master everything about coding to create work of his own.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">NIckolas Vu</h2>
      <br />
      <p>
        Nickolas Vu is a current full stack developer bootcamp student.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
